.form {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 0 65px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
}

.form__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 0 30px;
  }

  .form__title {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 50px;
  }
}
