.login {
  margin: 0 auto;
  padding: 70px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.login__header {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.login__fields {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  height: 42px;
}

.login__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

.login__input {
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  width: 100%;
  padding: 10px 0 10px;
}

.login__input:focus {
  /* box-shadow: 0 0 5px rgba(43, 224, 128, 1); */
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
  background-color: #fff;
}

.login__input::placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.login__input_error {
  border-bottom: 1px solid red;
}

.login__error {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: red;
  display: none;
  flex-direction: column;
  max-width: 396px;
  padding: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

.login__error_active {
  display: flex;
}

@media screen and (max-width: 400px) {
  .login {
    padding: 50px 0 30px;
  }

  .login__header {
    align-self: center;
  }
}
